.name-label {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Raleway';
  font-weight: 700;
}

.price-label {
  font-size: 24px;
  line-height: 24px;
  font-family: 'Raleway';
  font-weight: 400;
  margin-bottom: 6px;
}
