@import '../../variables.scss';

.header-button {
  @extend %button-text;

  box-shadow: none !important;
  margin: 0px 6px 0px 6px !important;
}

.header-button-primary {
  @extend %button-text;

  box-shadow: none !important;
  margin: 0px 6px 0px 6px !important;
}
