.header-button {
  text-transform: uppercase !important;
  font-size: 18px !important;
  font-family: 'Montserrat' !important;
  font-weight: 800 !important;
  box-shadow: none !important;
  margin: 0px 10px 0px 10px !important;
}

.header-button-primary {
  text-transform: uppercase !important;
  font-size: 18px !important;
  font-family: 'Montserrat' !important;
  font-weight: 800 !important;
  box-shadow: none !important;
  background: #ff5c38 !important;
  color: white !important;
  margin: 0px 10px 0px 10px !important;
}
