.site-content {
  padding: 0 12%;
  padding-bottom: 50px;
  background: #f9f8f4;
}

.site-content-header{
  font-family : "Montserrat";
  font-size: 48px;
  padding-top: 58px;
  height: 24px;
  margin-bottom: 46px;
}

.location-filters-row{
  padding-top: 50px;
  display: flex;
  flex-direction: row;

}

.filter-buttons{
  margin-top: 58px;
  height:24px;
  margin-left : 100px;
}

.hawker-list{
  padding-top: 40px;
  display:flex;
  flex-direction: row;
}


