.site-content {
  margin: 0 12%;
}

.section-search-header-row {
  display: flex;
  justify-content: space-between;
  height: 24px;
  margin-top: 58px;
  align-items: baseline;
  margin-bottom: 46px;
  }
  
.section-search-header {
  font-family: 'Montserrat';
  font-size: 30px;
}