@import '../../variables.scss';

.content {
  text-align: left;
}

.stall-name {
  font-weight: 1000;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.stall-description {
  font-size: 15p;
}
