@import '../../variables.scss';

.modal {
  width: 456px !important;
}

.login-modal > div {
  font-family: 'Raleway' !important;
  font-size: 24px !important;
  line-height: 24px !important;
  font-weight: 400 !important;
}

.login-modal > div > button {
  @extend %button-text;
}

.modal-header {
  font-family: 'Raleway' !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 24px !important;
  text-align: center;
  background: #ffc448 !important;
}

.modal-content {
  text-align: center;
  padding: 0 53px !important;
}

.input-field {
  width: 100%;
  font-family: 'Raleway' !important;
  font-size: 18px !important;
  line-height: 18px !important;
  font-weight: 400 !important;
  margin-top: 20px;
}

.signup-button {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  height: 51px !important;
  width: 100%;
  font-size: 24px !important;
  padding: 0 !important;
  font-family: 'Montserrat' !important;
  font-weight: 800 !important;
  box-shadow: none !important;
  background: #448fff !important;
  color: white !important;
}

@media (max-width: $mobileWidth) {
  .modal {
    width: 80% !important;
  }

  .login-modal > div {
    font-size: 18px !important;
    line-height: 18px !important;
  }

  .modal-header {
    font-size: 18px !important;
  }

  .input-field {
    font-size: 18px !important;
    line-height: 18px !important;
  }

  .signup-button {
    font-size: 18px !important;
  }
}
