.footer {
  background-color: #EBEBEB;
  height: 250px;
  margin: 50px 0px 0px 0px;
}

.footer-body {
  padding: 30px 30px 150px 250px;
}

.image-div {
  float: left;
  margin: 10px 20px 0px 0px;
}

.image {
  width: 300px;
  height: 100px;
}