.hawker-content{
    margin: 0 12%;
}


.hawker-header-row{
    display: flex;
    justify-content: space-between;
    height: 24px;
    margin-top: 58px;
    align-items: baseline;
    margin-bottom: 46px;
}

.hawker-header{
    font-family : "Montserrat";
    font-size: 48px;
}

.insert-map{
    background: url('https://react.semantic-ui.com/images/wireframe/image.png');
    height:600px;
    background-size:cover;
    background-position: center;
}

.map{
    display: grid;
}

.location-filters-row{
    padding-top: 50px;
    justify-content: space-between;
}

.location-filters-header{
    font-family: 'Montserrat';
    font-size: 20px;
}

.hawker-list{
    padding-top: 50px;
}