$backgroun: #f9f8f4;
$button: #ec4f38;
$header: #ffc448;
$text: black;

%button-text {
  font-family: 'Montserrat' !important;
  font-size: 18px !important;
  font-weight: 800 !important;
  line-height: 18px !important;
}
