@import '../../variables.scss';

.site-content {
  padding: 0 12%;
  padding-bottom: 50px;
  background: #f9f8f4;
}

.section-header-row {
  display: flex;
  justify-content: space-between;
  height: 24px;
  padding-top: 58px;
  align-items: baseline;
  margin-bottom: 46px;
}

.section-header {
  font-family: 'Montserrat';
  font-size: 36px;
}

.section-header-button {
  @extend %button-text;

  color: #ffb444;
  text-transform: uppercase;
}

.category-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.location-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.directory-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.category-grid-cell,
.location-grid-cell,
.directory-grid-cell {
  background-size: cover;
  background-position: center;
  height: 238px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.category-grid-label {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 24px;
  color: white;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.directory-grid-cell {
  cursor: pointer;
}

@media (max-width: $mobileWidth) {
  .site-content {
    padding: 0 20px;
    padding-bottom: 20px;
  }

  .section-header-row {
    padding-top: 25px;
    margin-bottom: 32px;
  }

  .section-header {
    font-size: 18px;
  }

  .category-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .category-grid-cell {
    height: 102px;
    box-shadow: none;
  }

  .location-grid-cell {
    height: 78px;
    box-shadow: none;
  }

  .category-grid-label {
    font-size: 18px;
    line-height: 18px;
  }

  .location-grid {
    grid-gap: 5px;
  }

  .directory-grid {
    grid-gap: 10px;
  }

  .directory-grid-cell {
    height: 78px;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}
