.site-content {
  padding: 0 12%;
  padding-bottom: 50px;
  background: #f9f8f4;
}

.stall-image {
  width: 418px;
  height: 264px;
  margin-top: 38px;
  background: url("https://react.semantic-ui.com/images/wireframe/image.png");
  background-size: cover;
  background-position: center;
}

.stall-title {
  margin-top: 38px;
  font-size: 36px;
  font-family: 'Raleway';
  font-weight: 700;
  line-height: 42px;
}

.category-container {
  display: flex;
  align-items: center;
  margin-top: 9px;
  flex-wrap: wrap;
}

.category-tag {
  border: solid;
  border-width: 1px;
  border-radius: 13px;
  font-size: 14px;
  min-width: 80px;
  text-align: center;
  margin-bottom: 9px;
  margin-right: 32px;
}

.location-primary {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Raleway';
  margin-top: 10px;
}

.location-secondary {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Raleway';
  margin-top: 6px;
}

.ratings-container {
  margin-top: 26px;
  display: flex;
  align-items: center;
}

.ratings-component {
  margin-right: 48px;
}

.ratings-count {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Raleway';
}

.opening-hours-title {
  font-size: 18px;
  margin-top: 14px;
  margin-bottom: 2px;
  font-weight: 700;
  font-family: 'Raleway';
  line-height: 24px;
}

.opening-hours-label {
  font-size: 18px;
  font-family: 'Raleway';
  line-height: 24px;
}

.stall-button-container {
  margin-top: 93px;
}

.button-secondary {
  font-size: 18px !important;
  font-family: 'Montserrat' !important;
  font-weight: 800 !important;
  margin-left: 50px !important;
}

.button-primary {
  font-size: 18px !important;
  font-family: 'Montserrat' !important;
  font-weight: 800 !important;
}

.separator {
  background: black;
  height: 1px;
  width: 100%;
  margin-top: 45px;
}

.section-header {
  font-size: 36px;
  font-family: 'Raleway';
  font-weight: 700;
  line-height: 42px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-special {
  font-family: 'Montserrat' !important;
  font-weight: 800 !important;
  font-size: 18px !important;
  background: #448FFF !important;
  color: white !important;
}

.rating-component {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-ratings {
  font-size: 4.5rem !important;
}

.comment-ratings-number {
  font-size: 64px;
  line-height: 75px;
  font-family: 'Raleway';
  font-weight: 400;
  margin-bottom: 15px;
}

.rating-count-label {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Raleway';
  font-weight: 400;
  margin-top: 7px;
}

.rating-row {
  display: flex;
  align-items: center;
}

.rating-row-progress {
  width: 192px;
  margin: 0 0 0 22px !important;
}

.rating-row-count {
  margin: 0 0 0 21px;
  width: 40px;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Raleway';
  font-weight: 400;
}

.review-header {
  font-size: 24px;
  line-height: 28px;
  font-family: 'Raleway';
  font-weight: 700;
  margin-top: 68px;
  margin-bottom: 25px;
}

.review-card {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin: 16px 0;
}

.review-card-row {
  display: flex;
  justify-content: space-between;
}

.comment-username {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Raleway';
  font-weight: 400;
  margin-top: 5px;
}

.comment-date {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Raleway';
  font-weight: 400;
}

.comment-text {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Raleway';
  font-weight: 400;
  margin-top: 14px;
}
