@import '../../variables.scss';

.site-content {
  padding: 0 12%;
  padding-bottom: 50px;
  background: #f9f8f4;
}

.stall-grid {
  padding-top: 38px;
}

.stall-image {
  width: 418px;
  max-width: 30%;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  margin-right: 24px;
}

.stall-title {
  font-size: 36px;
  font-family: 'Raleway';
  font-weight: 700;
  line-height: 42px;
}

.category-container {
  display: flex;
  align-items: center;
  margin-top: 9px;
  flex-wrap: wrap;
}

.stall-details {
  min-width: 70%;
}

.stall-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stall-closed {
  height: 24px;
  border-radius: 10px;
  font-family: 'Raleway';
  color: #f9f8f4;
  background: #ff5c38;
  font-size: 20px;
  line-height: 14px;
  font-weight: 800;
  padding: 5px;
  margin: 0 20px;
}

.category-tag {
  border: solid;
  border-width: 1px;
  border-radius: 13px;
  font-size: 14px;
  min-width: 80px;
  text-align: center;
  margin-bottom: 9px;
  margin-right: 32px;
}

.location-primary {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Raleway';
  margin-top: 10px;
}

.location-secondary {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Raleway';
  margin-top: 6px;
}

.ratings-container {
  margin-top: 26px;
  display: flex;
  align-items: center;
}

.ratings-component {
  margin-right: 48px;
}

.ratings-count {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Raleway';
}

.opening-hours-title {
  font-size: 18px;
  margin-top: 14px;
  margin-bottom: 2px;
  font-weight: 700;
  font-family: 'Raleway';
  line-height: 24px;
}

.announcement-title {
  font-size: 18px;
  font-family: 'Raleway';
  line-height: 24px;
  color: #ff5c38;
  overflow-wrap: break-word;
}

.opening-hours-label {
  font-size: 18px;
  font-family: 'Raleway';
  line-height: 24px;
}

.stall-button-container {
  margin-top: 93px;
}

.button-secondary {
  @extend %button-text;

  margin-left: 50px !important;
}

.button-primary {
  @extend %button-text;
}

.separator {
  background: black;
  height: 1px;
  width: 100%;
  margin-top: 45px;
}

.section-header {
  font-size: 36px;
  font-family: 'Raleway';
  font-weight: 700;
  line-height: 42px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-special {
  @extend %button-text;

  background: #448fff !important;
  color: white !important;
}

.rating-component {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-ratings {
  font-size: 4.5rem !important;
}

.comment-ratings-number {
  font-size: 64px;
  line-height: 75px;
  font-family: 'Raleway';
  font-weight: 400;
  margin-bottom: 15px;
}

.rating-count-label {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Raleway';
  font-weight: 400;
  margin-top: 7px;
}

.rating-row {
  display: flex;
  align-items: center;
}

.rating-row-progress {
  width: 192px;
  margin: 0 0 0 22px !important;
}

.rating-row-count {
  margin: 0 0 0 21px;
  width: 40px;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Raleway';
  font-weight: 400;
}

.review-header {
  font-size: 24px;
  line-height: 28px;
  font-family: 'Raleway';
  font-weight: 700;
  margin-top: 68px;
  margin-bottom: 25px;
}

.review-card {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin: 16px 0;
}

.review-card-row {
  display: flex;
  justify-content: space-between;
}

.comment-username {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Raleway';
  font-weight: 400;
  margin-top: 5px;
}

.comment-date {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Raleway';
  font-weight: 400;
}

.comment-text {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Raleway';
  font-weight: 400;
  margin-top: 14px;
}

.stall-grid {
  display: flex;
}

@media (max-width: $mobileWidth) {
  .site-content {
    padding: 0 20px;
    padding-bottom: 20px;
  }

  .stall-image {
    width: 162px;
    height: 162px;
    max-width: 162px;
    background-size: cover;
    margin-right: 12px;
    flex-shrink: 0;
  }

  .stall-header {
    align-items: flex-start;
  }

  .stall-closed {
    height: 20px;
    border-radius: 10px;
    font-family: 'Raleway';
    color: #f9f8f4;
    background: #ff5c38;
    font-size: 12px;
    line-height: 15px;
    font-weight: 800;
    padding: 3px;
  }

  .stall-details {
    min-width: 30%;
  }

  .stall-grid {
    padding-top: 20px;
  }

  .stall-title {
    font-size: 14px;
    line-height: 16px;
  }

  .category-tag {
    font-size: 10px;
    line-height: 17px;
    min-width: 60px;
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .location-primary {
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    margin-top: 6px;
  }

  .location-secondary {
    font-size: 13px;
    line-height: 13px;
    margin-top: 4px;
  }

  .ratings-container {
    margin-top: 10px;
  }

  .ratings-count {
    font-size: 13px;
    line-height: 13px;
  }

  .opening-hours-title {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 4px;
    margin-top: 6px;
  }

  .announcement-title {
    font-size: 13px;
    font-family: 'Raleway';
    line-height: 24px;
  }

  .opening-hours-label {
    font-size: 13px;
    line-height: 16px;
  }

  .stall-button-container {
    margin-top: 18px;
    display: flex;
    justify-content: space-around;
  }

  .separator {
    margin-top: 24px;
  }

  .section-header {
    font-size: 24px;
    line-height: 28px;
  }

  .comment-ratings-number {
    font-size: 18px;
    line-height: 18px;
  }

  .comment-ratings {
    font-size: 1.5rem !important;
  }

  .rating-count-label {
    font-size: 13px;
  }

  .rating-row-count {
    display: none;
  }

  .rating-row-progress {
    width: 100px;
    height: 10px;
    overflow: hidden;
    display: flex !important;
    align-items: center;
  }

  .rating-component {
    margin-top: 14px;
  }

  .rating-row {
    margin: 4px 0;
  }

  .review-header {
    display: none;
  }

  .comment-text {
    font-size: 14px;
  }
}
